<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertBook">
		INSERT
		  INTO HOSPITAL_BOOK
		(
		  HP_BK_NO
		, HP_BK_TIME
		, HP_MEM_NO
		, HP_PET_NAME
		, HP_PET_KIND
		, HP_PET_GENDER
		, HP_PET_AGE
		, HP_PET_NEUT
		, HP_BK_MESSAGE
		
		)
		VALUES
		(
		  SEQ_HP_BK_NO.NEXTVAL
		, TO_DATE(?,'YYYY/MM/DD HH24:MI:SS')
		, ?
		, ?
		, ?
		, ?
		, ?
		, ?
		, ?
	
		)
	</entry>
	
	
	
	
</properties>
	