/* By. 210406 최혁진 */

body, html {
    font-family: 'Noto Sans KR', sans-serif !important;
    color: #0f0f0f !important;
}
ul, li {
    list-style: none;
}
.title-sec {
    margin: 100px 0 0 0;
}
.section-title {
    margin-bottom: 0;
    font-size: 36px;
    letter-spacing: -1px;
}
.notice-sec .container {
    padding: 100px 0;
}
.table {
    text-align: center;
}
.table th {
    text-align: center !important;
}
.app-title {
    margin: 0 0 10px !important;
    padding-bottom: 0 !important;
    font-size: 14px;
    font-weight: 400;
    border-bottom: none !important;
}
.panel-wrap .table th {
    padding: 12px !important;
    border-top: 2px solid #0f0f0f !important;
    background-color: #fafafa;
}
.panel-wrap .table td {
    padding: 12px !important;
}
.panel-wrap .table td .detail {
    color: inherit !important;
}
.paging-wrap {
    margin-top: 20px;
}
.paging-wrap .pagination > li > a , span {
    font-size: 13px;
    color: #0f0f0f;
}
.page-submenu {
    margin-top: 26px;
    border-top: 2px solid #0f0f0f;
}
.page-submenu ul {
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.page-submenu ul li  + li {
    border-top: 1px solid #ddd;
}
.page-submenu ul li a {
    display: block;
    position: relative;
    height: 45px;
    padding: 12px 18px;
}
.page-submenu ul li a span {
    display: inline-block;
    color: #888;
}
.page-submenu ul li a i.fa-chevron-right {
    position: absolute;
    top: 17px;
    right: 14px;
    font-size: 12px;
    color: #0f0f0f;
    opacity: .5;
}
.page-submenu ul li a.active {
    background-color: #eaeaea;
}
.page-submenu ul li a.active span {
    font-weight: 600;
    color: #0f0f0f;
}
.page-submenu ul li a.active i.fa-chevron-right {
    opacity: 1;
}
.page-submenu ul li a:hover {
    font-weight: 600;
    color: #0f0f0f;
    background-color: #eaeaea;
}
.page-submenu ul li a:hover span {
    color: #0f0f0f;
}
.page-submenu ul li a:hover i.fa-chevron-right {
    opacity: 1;
}
.input-text, select {
  width: 10% !important;
}
