<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT
		       A.HP_BD_NO
		     , A.HP_BD_TITLE
		     , A.HP_BD_CONTENT
		     , A.HP_BD_DRAWUP_DATE
		     , A.HP_BD_WATCHED
		     , B.MEM_NAME
		     , A.HP_BD_FILE
		     , A.HP_MEM_NO
		     , A.HP_BD_CATEGORY_NO     
		  FROM HOSPITAL_BD A
		  JOIN MEM_INFO B ON (A.HP_MEM_NO = B.MEM_NO)
		 WHERE A.HP_BD_CATEGORY_NO = 'FAQ'
	</entry>
</properties>