<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTotalCount">
			SELECT
				   COUNT(*)
			  FROM HOSPITAL_RV A
			 WHERE A.HP_RV_STATUS = 'PUBLIC'
	</entry>
	<entry key="selectList">
	    SELECT
		       A.HP_RV_NO
		     , A.HP_RV_CATEGORY_NO
		     , A.HP_RV_TITLE
		     , A.HP_RV_CONTENT
		     , A.HP_RV_DRAWUP_DATE
		     , A.HP_RV_WATCHED
		     , A.MEM_NAME
		     , A.HP_RV_MEM_NO
		     , A.HP_RV_STATUS
		     , A.HP_RV_CMT_COUNT
		     , A.THUMBNAIL_PATH
		  FROM (SELECT ROWNUM RNUM
		             , B.HP_RV_NO
		             , B.HP_RV_CATEGORY_NO
		             , B.HP_RV_TITLE
		             , B.HP_RV_CONTENT
		             , B.HP_RV_DRAWUP_DATE
		             , B.HP_RV_WATCHED
		             , B.MEM_NAME
		             , B.HP_RV_MEM_NO
		             , B.HP_RV_STATUS
		             , B.HP_RV_CMT_COUNT
		             , B.THUMBNAIL_PATH
		          FROM (SELECT C.HP_RV_NO
		                     , C.HP_RV_CATEGORY_NO
		                     , C.HP_RV_TITLE
		                     , C.HP_RV_CONTENT
		                     , C.HP_RV_DRAWUP_DATE
		                     , C.HP_RV_WATCHED
		                     , D.MEM_NAME
		                     , C.HP_RV_MEM_NO
		                     , C.HP_RV_STATUS
		                     , C.HP_RV_CMT_COUNT
		                     , E.THUMBNAIL_PATH
		                  FROM HOSPITAL_RV C
		                  JOIN MEM_INFO D ON(C.HP_RV_MEM_NO = D.MEM_NO)
		                  LEFT JOIN V_THUMBNAIL_FILE E ON(C.HP_RV_NO = E.BD_NO AND C.HP_RV_CATEGORY_NO = E.BD_CATEGORY_NO)
		                 WHERE C.HP_RV_STATUS = 'PUBLIC'
		                 ORDER BY C.HP_RV_NO DESC
		               ) B
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="increamentCount">
	    UPDATE
	 	       HOSPITAL_RV A
	 	   SET A.HP_RV_WATCHED = (SELECT
	 		   		            	     B.HP_RV_WATCHED + 1
	 		   				        FROM HOSPITAL_RV B
	 		   		 			   WHERE B.HP_RV_NO = ?
	 		   					 )
	 	 WHERE A.HP_RV_NO = ?
	</entry>
	<entry key="selectOneBoard">
	    SELECT
		       A.HP_RV_NO
  			 , A.HP_RV_CATEGORY_NO
  			 , A.HP_RV_TITLE
  			 , A.HP_RV_CONTENT
  			 , A.HP_RV_DRAWUP_DATE
  			 , A.HP_RV_WATCHED
  			 , B.MEM_NAME
  			 , A.HP_RV_MEM_NO
  			 , A.HP_RV_STATUS
  			 , A.HP_RV_CMT_COUNT
  			 , C.THUMBNAIL_PATH
		  FROM HOSPITAL_RV A
		  JOIN MEM_INFO B ON(A.HP_RV_MEM_NO = B.MEM_NO)
		  LEFT JOIN V_BODY_FILE C ON(A.HP_RV_NO = C.BD_NO AND A.HP_RV_CATEGORY_NO = C.BD_CATEGORY_NO)
		 WHERE A.HP_RV_NO = ?
	</entry>
	<entry key="searchWriterBoardCount">
	    SELECT 
	           COUNT(*)
	      FROM HOSPITAL_RV A
	      JOIN MEM_INFO B ON (A.HP_RV_MEM_NO = B.MEM_NO)
	     WHERE A.HP_RV_STATUS = 'PUBLIC'
	       AND B.MEM_NAME LIKE '%' || ? || '%'
	       </entry>
	  
	<entry key="searchTitleBoardCount">
	    SELECT 
	           COUNT(*)
	      FROM HOSPITAL_RV A
	     WHERE A.HP_RV_STATUS = 'PUBLIC'
	       AND A.HP_RV_TITLE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchBodyBoardCount">
	    SELECT 
	           COUNT(*)
	      FROM HOSPITAL_RV A
	     WHERE A.HP_RV_STATUS = 'PUBLIC'
	       AND A.HP_RV_CONTENT LIKE '%' || ? || '%'
	</entry>
	<entry key="searchWriterBoard">	
	    SELECT
		       A.HP_RV_NO
		     , A.HP_RV_CATEGORY_NO
		     , A.HP_RV_TITLE
		     , A.HP_RV_CONTENT
		     , A.HP_RV_DRAWUP_DATE
		     , A.HP_RV_WATCHED
		     , A.MEM_NAME
		     , A.HP_RV_MEM_NO
		     , A.HP_RV_STATUS
		     , A.HP_RV_CMT_COUNT
		     , A.THUMBNAIL_PATH
		  FROM (SELECT ROWNUM RNUM
		             , B.HP_RV_NO
		             , B.HP_RV_CATEGORY_NO
		             , B.HP_RV_TITLE
		             , B.HP_RV_CONTENT
		             , B.HP_RV_DRAWUP_DATE
		             , B.HP_RV_WATCHED
		             , B.MEM_NAME
		             , B.HP_RV_MEM_NO
		             , B.HP_RV_STATUS
		             , B.HP_RV_CMT_COUNT
		             , B.THUMBNAIL_PATH
		          FROM (SELECT C.HP_RV_NO
		                     , C.HP_RV_CATEGORY_NO
		                     , C.HP_RV_TITLE
		                     , C.HP_RV_CONTENT
		                     , C.HP_RV_DRAWUP_DATE
		                     , C.HP_RV_WATCHED
		                     , D.MEM_NAME
		                     , C.HP_RV_MEM_NO
		                     , C.HP_RV_STATUS
		                     , C.HP_RV_CMT_COUNT
		                     , E.THUMBNAIL_PATH
		                  FROM HOSPITAL_RV C
		                  JOIN MEM_INFO D ON(C.HP_RV_MEM_NO = D.MEM_NO)
		                  LEFT JOIN V_THUMBNAIL_FILE E ON(C.HP_RV_NO = E.BD_NO AND C.HP_RV_CATEGORY_NO = E.BD_CATEGORY_NO)
		                 WHERE C.HP_RV_STATUS = 'PUBLIC'
		                 ORDER BY C.HP_RV_NO DESC
		               ) B
                 WHERE B.MEM_NAME LIKE '%' || ? || '%'
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchTitleBoard">	
	    SELECT
		       A.HP_RV_NO
		     , A.HP_RV_CATEGORY_NO
		     , A.HP_RV_TITLE
		     , A.HP_RV_CONTENT
		     , A.HP_RV_DRAWUP_DATE
		     , A.HP_RV_WATCHED
		     , A.MEM_NAME
		     , A.HP_RV_MEM_NO
		     , A.HP_RV_STATUS
		     , A.HP_RV_CMT_COUNT
		     , A.THUMBNAIL_PATH
		  FROM (SELECT ROWNUM RNUM
		             , B.HP_RV_NO
		             , B.HP_RV_CATEGORY_NO
		             , B.HP_RV_TITLE
		             , B.HP_RV_CONTENT
		             , B.HP_RV_DRAWUP_DATE
		             , B.HP_RV_WATCHED
		             , B.MEM_NAME
		             , B.HP_RV_MEM_NO
		             , B.HP_RV_STATUS
		             , B.HP_RV_CMT_COUNT
		             , B.THUMBNAIL_PATH
		          FROM (SELECT C.HP_RV_NO
		                     , C.HP_RV_CATEGORY_NO
		                     , C.HP_RV_TITLE
		                     , C.HP_RV_CONTENT
		                     , C.HP_RV_DRAWUP_DATE
		                     , C.HP_RV_WATCHED
		                     , D.MEM_NAME
		                     , C.HP_RV_MEM_NO
		                     , C.HP_RV_STATUS
		                     , C.HP_RV_CMT_COUNT
		                     , E.THUMBNAIL_PATH
		                  FROM HOSPITAL_RV C
		                  JOIN MEM_INFO D ON(C.HP_RV_MEM_NO = D.MEM_NO)
		                  LEFT JOIN V_THUMBNAIL_FILE E ON(C.HP_RV_NO = E.BD_NO AND C.HP_RV_CATEGORY_NO = E.BD_CATEGORY_NO)
		                 WHERE C.HP_RV_STATUS = 'PUBLIC'
		                 ORDER BY C.HP_RV_NO DESC
		               ) B
                 WHERE B.HP_RV_TITLE LIKE '%' || ? || '%'
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?	
	</entry>
	<entry key="searchBodyBoard">	
	     SELECT
		       A.HP_RV_NO
		     , A.HP_RV_CATEGORY_NO
		     , A.HP_RV_TITLE
		     , A.HP_RV_CONTENT
		     , A.HP_RV_DRAWUP_DATE
		     , A.HP_RV_WATCHED
		     , A.MEM_NAME
		     , A.HP_RV_MEM_NO
		     , A.HP_RV_STATUS
		     , A.HP_RV_CMT_COUNT
		     , A.THUMBNAIL_PATH
		  FROM (SELECT ROWNUM RNUM
		             , B.HP_RV_NO
		             , B.HP_RV_CATEGORY_NO
		             , B.HP_RV_TITLE
		             , B.HP_RV_CONTENT
		             , B.HP_RV_DRAWUP_DATE
		             , B.HP_RV_WATCHED
		             , B.MEM_NAME
		             , B.HP_RV_MEM_NO
		             , B.HP_RV_STATUS
		             , B.HP_RV_CMT_COUNT
		             , B.THUMBNAIL_PATH
		          FROM (SELECT C.HP_RV_NO
		                     , C.HP_RV_CATEGORY_NO
		                     , C.HP_RV_TITLE
		                     , C.HP_RV_CONTENT
		                     , C.HP_RV_DRAWUP_DATE
		                     , C.HP_RV_WATCHED
		                     , D.MEM_NAME
		                     , C.HP_RV_MEM_NO
		                     , C.HP_RV_STATUS
		                     , C.HP_RV_CMT_COUNT
		                     , E.THUMBNAIL_PATH
		                  FROM HOSPITAL_RV C
		                  JOIN MEM_INFO D ON(C.HP_RV_MEM_NO = D.MEM_NO)
		                  LEFT JOIN V_THUMBNAIL_FILE E ON(C.HP_RV_NO = E.BD_NO AND C.HP_RV_CATEGORY_NO = E.BD_CATEGORY_NO)
		                 WHERE C.HP_RV_STATUS = 'PUBLIC'
		                 ORDER BY C.HP_RV_NO DESC
		               ) B
                 WHERE B.HP_RV_CONTENT LIKE '%' || ? || '%'
		       ) A
		 WHERE A.RNUM BETWEEN ? AND ?
    </entry>
    <entry key="insertBoard">
		INSERT
		  INTO HOSPITAL_RV
		(
		  HP_RV_NO
		, HP_RV_CATEGORY_NO
		, HP_RV_TITLE
		, HP_RV_CONTENT
		, HP_RV_MEM_NO
		)
		VALUES
		(
		  SEQ_HP_RV_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="deleteBoard">
		UPDATE
		       HOSPITAL_RV A
		   SET A.HP_RV_STATUS = 'DELETE'
		 WHERE A.HP_RV_STATUS IN ('PUBLIC','PRIVATE')
		   AND A.HP_RV_NO = ?
	</entry>
	<entry key="updateBoard">
		UPDATE		/* creation.board.model.dao.HPFAQBoardDAO#updateBoard() */
		       HOSPITAL_RV A
		   SET A.HP_RV_TITLE = ?
		     , A.HP_RV_CONTENT = ?
		     , A.HP_RV_CATEGORY_NO = ?
		 WHERE HP_RV_STATUS IN ('PUBLIC', 'PRIVATE')
		   AND HP_RV_NO = ?
	</entry>
	<entry key="insertFileBoard">
        INSERT
		  INTO HOSPITAL_RV
		(
		  HP_RV_NO
		, HP_RV_CATEGORY_NO
		, HP_RV_TITLE
		, HP_RV_CONTENT
		, HP_RV_MEM_NO
		)
		VALUES
		(
		  SEQ_HP_RV_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		)
    </entry>
    <entry key="selectFileBoardSequence">
        SELECT
               SEQ_HP_RV_NO.CURRVAL
          FROM DUAL
    </entry>
    <entry key="insertFile">
        INSERT
          INTO FILE_INFO A
        (
          A.FILE_NO
        , A.BD_NO
        , A.BD_CATEGORY_NO
        , A.ORIGIN_FILE_NAME
        , A.FILE_PATH
        , A.THUMBNAIL_PATH
        , A.SAVE_FILE_NAME
        , A.FILE_TYPE
        , A.FILE_EXTENSION
        )
        VALUES
        (
          SEQ_HP_FILE_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
    </entry>
    <entry key="bestSelectList">
        SELECT
		       A.HP_RV_NO
		     , A.HP_RV_CATEGORY_NO
		     , A.HP_RV_TITLE
		     , A.HP_RV_CONTENT
		     , A.HP_RV_DRAWUP_DATE
		     , A.HP_RV_WATCHED
		     , A.MEM_NAME
		     , A.HP_RV_MEM_NO
		     , A.HP_RV_STATUS
		     , A.HP_RV_CMT_COUNT
		     , A.FILE_PATH
             , A.SAVE_FILE_NAME
		  FROM (SELECT ROWNUM RNUM
		             , B.HP_RV_NO
		             , B.HP_RV_CATEGORY_NO
		             , B.HP_RV_TITLE
		             , B.HP_RV_CONTENT
		             , B.HP_RV_DRAWUP_DATE
		             , B.HP_RV_WATCHED
		             , B.MEM_NAME
		             , B.HP_RV_MEM_NO
		             , B.HP_RV_STATUS
		             , B.HP_RV_CMT_COUNT
		             , B.FILE_PATH
                     , B.SAVE_FILE_NAME
		          FROM (SELECT C.HP_RV_NO
		                     , C.HP_RV_CATEGORY_NO
		                     , C.HP_RV_TITLE
		                     , C.HP_RV_CONTENT
		                     , C.HP_RV_DRAWUP_DATE
		                     , C.HP_RV_WATCHED
		                     , D.MEM_NAME
		                     , C.HP_RV_MEM_NO
		                     , C.HP_RV_STATUS
		                     , C.HP_RV_CMT_COUNT
		                     , E.FILE_PATH
		                     , E.SAVE_FILE_NAME
		                  FROM HOSPITAL_RV C
		                  JOIN MEM_INFO D ON(C.HP_RV_MEM_NO = D.MEM_NO)
		                  LEFT JOIN V_THUMBNAIL_FILE E ON(C.HP_RV_NO = E.BD_NO AND C.HP_RV_CATEGORY_NO = E.BD_CATEGORY_NO)
		                 WHERE C.HP_RV_STATUS = 'PUBLIC'
		                 ORDER BY C.HP_RV_WATCHED DESC
		               ) B
		       ) A
		 WHERE A.RNUM BETWEEN 1 AND 4
    </entry>
</properties>