<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="registMember">
		INSERT
		  INTO MEM_INFO A
		(
		  A.MEM_NO
		, A.MEM_NAME
		, A.MEM_PHONE
		, A.MEM_ADDRESS
		, A.MEM_EMAIL
		, A.MEM_ID
		, A.MEM_PWD
		, A.MEM_BIRTH
		)
		VALUES
		(
		  SEQ_MEM_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		, ?
		, ?
		, ?
		)
	</entry>
	<entry key="selectEncryptedPwd">
		
	</entry>
	<entry key="selectLoginMember">
	    
	</entry>
	<entry key="updateMember">
		
	</entry>
	<entry key="deleteMember">
		
	</entry>
	
</properties>